.product__details{
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: baseline;
    margin-left: 11%;
}
.product__image{
    object-fit: contain;
    margin-bottom: 5vh;
}
.product__catalogue{
    cursor: pointer;
    margin-bottom: 5vh;
}
.product__content{
    margin-top: 2vh;
    align-items: baseline;
    margin-right: 13%;
    margin-left: 2%;
}
.products__page{
    display: flex;
    flex-direction: column;
}

/* .image__section{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

} */