.card__container{
    width: 100%;
    overflow: hidden;
    box-shadow: 0px 0px 15px -5px;
    transition: 0.3s;
    animation: ease-in;
    margin-bottom: 2vh;
    background:rgba(27, 156, 262, 0.1);
    border-radius: 10px;
}
.card__container:hover{
    transform: scale(1.03);
    box-shadow: 0px 0px 15px 0px;
}
.card__body{
    display: flex;
    margin: 1rem;
    margin-top: 0.5rem;
}

h3,p{
    margin: 0;
    padding: 0;
}
.card__title{
    margin-bottom: 0.5rem;
}
.btn{
    display: flex;
    justify-content: center;
    margin-left: 20vw;
}
button{
     padding: 0.5rem;
     background-color: white;
     border: none;
     transition: 0.2s;
     margin-bottom: 0.5rem ;
}
.btn button:hover{
    background:rgba(127, 186, 255, 0.1);
    color: rgb(127, 187, 255);
}
this is the css that was causing problem in the navbar
/* a{
    text-transform: capitalize;
    color: aqua;
    text-decoration: none;
    font-weight: bold;
} */
.card__image{
    object-fit: contain;
    height: 100%;
    width: 20vw;
    margin-right: 20px;
}
@media screen and (max-width: 800px){
    .card__container{
        width: 80vw;
        box-shadow: 0px 0px 15px -5px;
        transition: 0.3s;
        animation: ease-in;
        margin-bottom: 2vh;
        background:rgba(27, 156, 262, 0.1);
        border-radius: 10px;
    }
    .card__body{
        display: flex;
        flex-direction: column;
        margin: 1rem;
        margin-top: 0.5rem;
    }
    .card__image{
        object-fit: contain;
        width: 100%;
        margin-bottom: 20px;
    }
}