/* .contact{
    display: flex;
    flex-direction: column;
} */
.contactImage{
    height: 55vh;
    width: 100vw;
    object-fit: cover;
}
.contact__content{
    margin-left: 10vw;
    width: 40%;
}
.form{
    display: flex;
    margin-top: 5vh;
}
.contact__form{
    margin-left: 10vh;
    margin-bottom: 5vh;
}
.checkbox{
    margin-top: 2vh;
    cursor: pointer;
}
.submit__btn{
    width: 6vw;
    height: 5vh;
    background-color: rgb(170, 169, 169);
    border-radius: 8px;
}
.submit__btn:hover{
    background-color: lightblue;
}