/* .contact{
    display: flex;
    flex-direction: column;
} */
.contactImage{
    height: 55vh;
    width: 100vw;
    object-fit: contain;
}
.contact__content{
    margin-left: 10vw;
    width: 40%;
}
.form{
    display: flex;
    margin-top: 5vh;
}
.contact__form{
    margin-left: 10vh;
    margin-bottom: 5vh;
}
.checkbox{
    margin-top: 2vh;
}

@media only screen and (max-width:900px) {
   .contact{
       overflow-y: auto;
       width: 100vw;
       overflow-x: hidden;
   }
   .contactImage{
    height: 25vh;
    width: 100vw;
    object-fit: contain;
}
.contact__content{
    width: 40vh;
}
.contact__form{
    width: 45vh;
}
   .form{
    width: 100vw;
    display: flex;
    flex-direction: column;
   }
}