.hero{
    display: flex;
    flex-direction: column;
    margin-left: 10vw;
    margin-top: 7vh;
    margin-bottom: 7vh;
    margin-right: 10vw;
}

.hero__images{
    display: flex;
    
}
/* .images{
    height: 300px;
    width: 300px;
} */
.featured__section{
    display: flex;
    background-color: rgb(228, 228, 228);
    padding-top: 10vh;
    padding-bottom: 10vh;
    justify-content: center;
}
.featured__heading{
    display: flex;
    justify-content: center;
    font-size: x-large;
}
.video{
    margin-left: 3vh;
    margin-right: 3vh;
}

@media only screen and (max-width:900px) {

    .hero__images{
        display: flex;
        flex-direction: column;
    }
    .hero__card{
        width: 100%;
    }
    .featured__section{
        display: flex;
        flex-direction: column;
        justify-content: center ;
        align-items: center;
    }

    
}