.productdropdown-menu {
    z-index: 999;
    width: 200px;
    text-decoration: none;
    position: absolute;
    top: 75px;
    list-style: none;
    text-align: start;
  }
  
  .productdropdown-menu li {
    background:rgb(0,135,193);
    cursor: pointer;
  }
  
  .productdropdown-menu li:hover {
    background: rgb(0,135,193);
    text-decoration: none;
  }
  
  .productdropdown-menu.clicked {
    display: none;
  }
  
  .productdropdown-link {
    display: block;
    text-decoration: none;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #fff;
    padding: 16px;
  }
  
  @media screen and (max-width: 960px) {
    .fa-caret-down {
      display: none;
    }

    .productdropdown-menu{
      z-index: 999;
      margin-left: 200px;
    }
  }